<h1>{{helloWorld}}</h1>

<!-- <img src={{imageURL}}> -->

<select name="engine-type" id="engine-type-menu" (change)="selectVehicleHandler($event)">
    <option value="" disabled selected>--Please choose an engine type--</option>
    <option value="petrol">Gas Car</option>
    <option value="hev">Hybrid Car</option>
    <option value="bev">Electric Car</option>
</select>

<label for="distance">Distance (mi)</label>
<input name="distance" type="number" (change)="mileageHandler($event)">

<button (click)="getEmissions()">ClickMe</button>