<div class="card">

    <select name="engine-type" id="engine-type-menu" (change)="selectVehicleHandler($event)">
        <option value="" disabled selected>--Please choose an engine type--</option>
        <option value="petrol">Gas Car</option>
        <option value="hev">Hybrid Car</option>
        <option value="bev">Electric Car</option>
    </select>

    <label for="distance">Distance (mi)</label>
    <input name="distance" type="number" (change)="mileageHandler($event)">

    <button (click)="getEmissions()">ClickMe</button>

    <h1>Estimated CO2e</h1>
    <h2>{{co2e}} {{co2eUnit}} / {{co2e * 2.2}} lbs</h2>
</div>